.input__cont{
   
}
.input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}
.input3{
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}